*{
    margin: 0;
    padding: 0;
}

body{
    margin: auto;
    background-color: rgb(41, 40, 40);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/*Encabezado*/
#title-Unco{
    font-size: 40px;
    font-weight: 800;
    font-family: "Lucida Console", Courier, monospace;
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vh;
}

@media (max-width: 1000px) {
    #title-Unco{
        font-size: 20px;
        font-weight: 800;
        font-family: "Lucida Console", Courier, monospace;
        margin-left: 0vw;
    }

.logo-Unco{
        width: 10vw;
        height: 10vw;
    }
}

/*Clase para centrar elementos*/
.center{
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.container-row{
    display: flex;
    flex-direction: row;
}

.logo-Unco{
    width: 4vw;
    height: 4vw;
    margin-left: 2vw;
}

#navbarNav{
    align-items: flex-end;
    justify-content: flex-end;
}

/*Modifica los botones del nav*/
.bottom-nav{
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    margin: 1rem;
    color: white;
    border: 2px solid;
    background:linear-gradient(to right, transparent 50%, white 50%) no-repeat left / 200%;
    transition: background-position 0.5s ease;   
}
.bottom-nav:hover{
    background-position: right; 
    color: black; 
    border: 2px solid white;
}

.bottom-nav:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.5s;
}

/*Imagen de fondo del menu*/
.background-img-menu{
    background-image: url("https://10619-2.s.cdn12.com/rests/original/104_355872023.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#darken-background{
    width : 100%;
	height : 100%;
    background-color: rgb(41, 40, 40);
    opacity: 0.9;
}

/*Eslogan*/
.tip{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600px;
    font-size: 40px;
    top: 3vh;
}

/*Contenedor del titulo de comida hoy*/
.title-menu-today{
    display: flex;
    height: 100px;
    max-width: 100%;
    color: white;
    font-weight: 600;
    font-size: 70px;
}

/*Contenedor de las comidas*/
.container-menus{
    margin: 2%
}

.container-row-food{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    margin-bottom: 3em; 
}


/*Silueta de las personas comiendo*/
.people-eat{
    width: 30vw;
    height: 30vw;
}


/*Menu de desayuno,almuerzo,merienda*/
#time-foods{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 500;
}

#clickeable{
    margin: 2em;
    background-color: white;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: #2d3748;
    border: 0.2em solid #cbd5e0;
    line-height: 26px;
    box-shadow:
        0 1px 3px 0 rgba(0,0,0,.1),
        0 1px 2px 0 rgba(0,0,0,.06);
}

#clickeable:hover, 
#clickeable:focus {
  animation: border-effect 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes border-effect {
  0% { box-shadow: 0 0 0 0 #6eb3ef; }
}


.little-box{
    position: relative;
    display: inline-table;
    text-align: center;
    min-width: 500px;
    min-height: 300px;
    max-height: 40vh;
    max-width: 40vw;
    overflow: hidden;
}

#little-title-style{
    font-family: "Helvetica";
    font-weight: 800;
    font-size: 23px;
    text-transform: uppercase;
    padding: 0;
    margin: auto;
}

.small-image{
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    max-width: 100%;
}

/*Proximas comidas*/
.next-meals {
    width: 20vw;
    height: 5vh;
    margin: 1vh 0 1vh 0;
    background: rgb(4, 123, 197);
    position: sticky;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 0.3vw;
    cursor: pointer;
    overflow: hidden;
}
  
.next-meals::before{
    content: 'Proximas Comidas';
    color: white;
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
    font-size: 1.1vw;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
}
  
.next-meals:hover::before{
    top: -2vw;
}
  
.next-meals::after {
    font-family: 'FontAwesome';
    content: url("../images/icon-meals.png");
    font-size: 4vw;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
}
  
.next-meals:hover::after {
    top: 50%;
}

/*ESTILO DEL MENU AMPLIADO*/

.big-image{
    width: 100%;
    height: 350px;
    margin: auto;
    z-index: 4;
}

@media (max-width: 1000px) {
    .big-image{
        width: 0%;
        height:0%
    }

    .large-menu-box{
        width: 60%;
        height: 60%;
        max-width: 900px;
        max-height: 680px;
    }

    .big-menu-title{
        font-size: 20px;
    }

    .large-menu-paragraph{
        font-size: 20px; 
    }
    


}

.fix-image-title{
    position: relative;
    text-align: center;
    color: white;
}

.large-menu-box{
    overflow: hidden;
    display: inline-table;
    position: fixed;
    z-index: 4;
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    font-size: 0.40cm;
    background: rgba(179, 179, 179, 0.2);
    border-radius: 16px;
    box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    min-width: 300px;
    min-height: 480px;
    width: 100%;
    height: 100%;
    max-width: 900px;
    max-height: 680px;
}

.big-menu-title{
    font-family: 'Arial'; 
    font-size: 45px; 
    font-weight: 700; 
    line-height: 48px; 
    margin-top: 1vh; 
    text-align: center; 
    text-shadow: 1px 1px 2px #082b34;
}

.large-menu-paragraph{
    color: white; 
    font-size: 30px; 
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    line-height: 30px; 
    padding: 1vh 1vw 2vh 1vw;
}

/*Informacion de cada menu sobre los cupones*/
.info-coupon{
    color: #a7e8f8;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #082b34;
    text-align: right;
    margin-right: 20px;
    backdrop-filter: blur(0px);
}

#button-to-reserve {
    width: 280px;
    height: 80px;
    margin: 10px;
    background: rgb(4, 123, 197);
    border-radius: 6px;
    font-size: 2em;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    color: white;
    border-radius: 15px;
    float: right;
  }

#button-to-reserve:hover {
    background-color:rgb(2, 67, 107)
}

#button-to-reserve:active {
  background-color: rgb(4, 123, 197);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.conteiner-row{
    display: flex;
    flex-direction: row;
}

#like-button {
  align-items: center;
  background-image:
    radial-gradient(100% 100% at 100% 0,
                    #5adaff 0,
                    #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow:
    rgba(45, 35, 66, .4) 0 2px 4px,
    rgba(45, 35, 66, .3) 0 7px 13px -3px
    rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  transition: box-shadow .15s,transform .15s;
  font-size: 18px;
}

#like-button:focus {
  box-shadow:
    #3c4fe0 0 0 0 1.5px inset,
    rgba(45, 35, 66, .4) 0 2px 4px,
    rgba(45, 35, 66, .3) 0 7px 13px -3px,
    #3c4fe0 0 -3px 0 inset;
}

#like-button:hover {
  box-shadow:
    rgba(45, 35, 66, .4) 0 4px 8px,
    rgba(45, 35, 66, .3) 0 7px 13px -3px,
    #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#like-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

#close {
    padding: 0;
    border: none;
    background: none;
    position: absolute;
    right: 32px;
    top: 0px;
    width: 32px;
    height: 32px;
    opacity: 0.6;
}
#close:hover {
    opacity: 1;
}
#close:before, #close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
#close:before {
    transform: rotate(45deg);
}
#close:after {
    transform: rotate(-45deg);
}

.container-row-buttons{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#hidden-background{
    position:fixed;
    width:100%;
    height:100%;
    opacity:0.5;
    z-index:1;
    background:#000;
}