*{
    margin: 0;
    padding: 0;
}

body{
    margin: auto;
    background-color: rgb(41, 40, 40);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/*Encabezado*/
#title-Unco{
    font-size: 2vw;
    font-weight: 800;
    font-family: "Lucida Console", Courier, monospace;
    margin-left: 2vw;
    margin-top: 1vw;
    margin-bottom: -10px;
}

@media (max-width: 1000px) {
    #title-Unco{
        font-size: 20px;
        font-weight: 800;
        font-family: "Lucida Console", Courier, monospace;
        margin-left: 0vw;
    }

    .logo-Unco{
        width: 10vw;
        height: 10vw;
        margin-right: 12vw;
    }
}

.container-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-Unco{
    width: 4vw;
    height: 4vw;
    margin-left: 1vw;
    margin-right: 12vw;
}

#navbarNav{
    align-items: flex-end;
    justify-content: flex-end;
}

/*Modifica los botones del nav*/
.bottom-nav{
    border: none;
    cursor: pointer;
    font-size: 1vw;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    margin: 1rem;
    color: white;
    border: 2px solid;
    background:linear-gradient(to right, transparent 50%, white 50%) no-repeat left / 200%;
    transition: background-position 0.5s ease;   
}
.bottom-nav:hover{
    background-position: right; 
    color: black; 
    border: 2px solid white;
}

.bottom-nav:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

/*Imagen de fondo del menu*/
.background-img-menu{
    background-image: url("https://10619-2.s.cdn12.com/rests/original/104_355872023.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#darken-background{
    width : 100%;
	height : 100%;
    background-color: rgb(41, 40, 40);
    opacity: 0.9;
}

/*Contenedor del titulo de comida hoy*/
.title-menu-today{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    max-width: 100%;
    color: white;
    font-weight: 600;
    font-size: 3.5vw;
}

.container-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*Contenedor de las comidas*/
.container-menus{
    margin: 2%
}

.container-row-food{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*Eslogan*/
.tip{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600;
    padding: 2vw;
}

.people-eat{
    filter: brightness(0%);
    width: 20vw;
    height: 20vw;
}

.fork{
    width: 20vw;
    height: 20vw;
}

/*Menu de desayuno,almuerzo,merienda*/
#time-foods{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 500;
}

#clickeable{
    
}


.little-box{
    position: relative;
    display: inline-block;
    text-align: center;
    max-height: 40vh;
    max-width: 40vw;
    overflow: hidden;
}

.little-box-title{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-80%, -50%);
}

#little-title-style{
    color: antiquewhite;
    text-shadow: 4px 4px 2px black;
}

.small-image{
    max-height: 100%;
    max-width: 100%;
}

@media (max-width: 955px){
    #little-title-style{
        font-size: 0.5vw;
    }

    .little-box-title{
        max-height: 100%;
        max-width: 100%;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-70%, -50%);
    }
}

/*Proximas comidas*/
.next-meals {
    width: 20vw;
    height: 5vh;
    background: rgb(4, 123, 197);
    position: sticky;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}
  
.next-meals::before{
    content: 'Proximas Comidas';
    color: white;
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
    font-size: 1.1vw;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
}
  
.next-meals:hover::before{
    top: -30px;
}
  
.next-meals::after {
    font-family: 'FontAwesome';
    content: url("../images/icon-meals.png");
    font-size: 60px;
    color: red;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
}
  
.next-meals:hover::after {
    top: 50%;
}

/*Datos de contacto*/
.contact{
    background-color: #101214;
    height: 150px;
    max-width: 100%;
}

/*ESTILO DEL MENU AMPLIADO*/

.big-image{
    width: 900px;
    height: 350px;
    margin: auto;
}

.large-menu-box{
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 900px;
    height: 680px;
    font-size: 0.40cm;
    background: rgba(179, 179, 179, 0.2);
    border-radius: 16px;
    box-shadow: 10px 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.big-menu-title{
    margin-top: -6vh;
    font-family: 'Bevan';
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow:  5px 5px #ff1f8f,
				10px 10px #000000;
}


.large-menu-paragraph{
    font-size: 1.5em;
}

.price{
    color: rgb(4, 123, 197);
    font-size: 1.7em;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    font-weight: 800;
    text-align: right;
    margin-right: 20px;
    backdrop-filter: blur(0px);
}

#button-to-reserve {
    width: 280px;
    height: 80px;
    margin: 10px;
    background: rgb(4, 123, 197);
    border-radius: 6px;
    font-size: 2em;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    color: white;
    border-radius: 15px;
    float: right;
  }

#button-to-reserve:hover {
    background-color:rgb(2, 67, 107)
}

#button-to-reserve:active {
  background-color: rgb(4, 123, 197);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.conteiner-row{
    display: flex;
    flex-direction: row;
}

#like-button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

#like-button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

#like-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

#like-button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

#close {
    padding: 0;
    border: none;
    background: none;
    position: absolute;
    right: 32px;
    top: 0px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
#close:hover {
    opacity: 1;
}
#close:before, #close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
#close:before {
    transform: rotate(45deg);
}
#close:after {
    transform: rotate(-45deg);
}

.container-row-buttons{
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#hidden-background{
    background: rgba(77, 77, 77, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(50px);
}