*{
    margin: 0;
    padding: 0;
}

body{
    margin: auto;
    background-color: rgb(41, 40, 40);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

/*Encabezado*/
#title-Unco{
    font-size: 40px;
    font-weight: 800;
    font-family: "Lucida Console", Courier, monospace;
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vh;
}

.logo-Unco{
    width: 4vw;
    height: 4vw;
    margin-left: 2vw;
}

@media (max-width: 1000px) {
    #title-Unco{
        font-size: 20px;
        font-weight: 800;
        font-family: "Lucida Console", Courier, monospace;
        margin-left: 0vw;
    }

    .logo-Unco{
        width: 10vw;
        height: 10vw;
    }
}

/*Modifica los botones del nav*/
#navbarNav{
    align-items: flex-end;
    justify-content: flex-end;
}

.bottom-nav{
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    margin: 1rem;
    color: white;
    border: 2px solid;
    background:linear-gradient(to right, transparent 50%, white 50%) no-repeat left / 200%;
    transition: background-position 0.5s ease;   
}
.bottom-nav:hover{
    background-position: right; 
    color: black; 
    border: 2px solid white;
}

.bottom-nav:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.5s;
}


/*Imagen de fondo del menu*/
.background-img-menu{
    background-image: url("https://10619-2.s.cdn12.com/rests/original/104_355872023.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#darken-background{
    width : 100%;
	height : 100%;
    background-color: rgb(41, 40, 40);
    opacity: 0.9;
    align-items: center;
    justify-content: center;
}

/*Contenedor del titulo*/
.title-menu-nextMeals{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    max-width: 100%;
    color: white;
    font-weight: 600;
    font-size: 3.5vw;
}

/*Contenedor de las comidas*/
.container-menus{
    margin: 2%
}

.container-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*Eslogan*/
.tip{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 600;
    padding: 2vw;
}

/*Menu de desayuno,almuerzo,merienda*/
#date-food{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 40px;
}

.space-box{
    margin-bottom: 100px;
}

.column{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-left: 15px;
    align-items: center;
    justify-items: center;
}

.meal{
    grid-area: 1 / 1 / 2 / 2;
    color: white;
    font-size: 30px;
}

.little-box-1{
    grid-area: 2 / 1 / 3 / 2;
}

.little-box-2{
    grid-area: 3 / 1 / 4 / 2; 
}

.little-box{
    position: relative;
    display: inline-table;
    text-align: center;
    min-height: 100px;
    min-width: 100px;
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 500px;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 5px;
}

.little-box-title{
    max-height: 100%;
    max-width: 100%;
}

#little-title-style{
    margin-top: 0.6vh;
    color: white;
}

.small-image{
    max-height: 100%;
    max-width: 100%;
    filter: grayscale(100%);
}

/*Back to current meal*/
.next-meals {
    width: 20vw;
    height: 5vh;
    background: rgb(4, 123, 197);
    position: sticky;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}
  
.next-meals::before{
    content: 'Volver a Inicio';
    color: white;
    font-family: 'Century Gothic', sans-serif;
    text-align: center;
    font-size: 1.1vw;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
}
  
.next-meals:hover::before{
    top: -30px;
}
  
.next-meals::after {
    font-family: 'FontAwesome';
    content: url("../images/icon-meals.png");
    font-size: 60px;
    color: red;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
}
  
.next-meals:hover::after {
    top: 50%;
}

/*Datos de contacto*/
.contact{
    background-color: #101214;
    height: 150px;
    max-width: 100%;
}